<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        
        <form action="/gym/place/edit/23423?_method=put" method="post" class="edit">
            <input type="hidden" name="_method" value="put">

            <a href="/gym/places" class="back"><i class="fa-solid fa-angles-left"></i>Back to Places</a>
            
            <span class="titleForm">
                Edit Place
            </span>
    
            <label for="name">Place Name *</label>
            <input type="text" name="name" autocomplete="off" placeholder="Name" value="<%= placeToEdit.name %>">

            <label for="ubication">Ubication *</label>
            <input type="text" name="ubication" autocomplete="off" 
                placeholder="Cochabamba - Tiquipaya" value="<%= placeToEdit.ubication %>">

            <label for="ubicationURL">Ubication URL *</label>
            <input type="url" name="ubicationURL" autocomplete="off" 
            placeholder="https://www.google.com/maps" value="<%= placeToEdit.ubicationURL %>">
    
            <label for="phone">Phone *</label>
            <input type="text" name="phone" autocomplete="off" 
            placeholder="00000000" value="<%= placeToEdit.phone %>">

            <% if(errorPhone[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorPhone %> 
                </label>
            <% } %> 


            <% if(dangerMessage[0]) %> 
                <label for="dangerMessage" class="messageTag">
                    <%= dangerMessage %> 
                </label>
    
            <button class="editButtom">Save Changes</button>

            <style>
                .navbar {
                    background: #000;
                }
            </style>
    
        </form>
    </div>


<%- include('../partials/footer.ejs') %> 