<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/alertStyle.ejs') %> 
    <%- include('../partials/placesStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <div class="containerPlaces">

            <% if(places.length === 0) { %> 

                <div class="addFirstPlace">
                    <span>without places</span>
                    <a href="/gym/place/add">
                        <i class="fa-solid fa-plus"></i>
                        Add Place
                    </a>    
                </div>Place

            <% } else { %> 
                
                <div class="addPlace">
                    <a href="/gym/place/add">
                        <i class="fa-solid fa-plus"></i>
                        Add Place
                    </a>
                </div>

                <%- include('../partials/alert.ejs') %>

    
                <% places.forEach(function(place) { %>
    
    
                    <a href="/gym/place/edit/<%= place.id %> " class="place">
    
                        <div class="header">
                            <span class="name"><%= place.name %> </span>    
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <span>Ubication : <%= place.ubication %> </span>
                        <span>Phone Number : <%= place.phone %> </span>
    
                    </a>
    
                <% }); %> 

                
            <% } %> 

        </div>
    </div>
        

<%- include('../partials/footer.ejs') %> 