<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/alertStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        
        <div class="containerClients">

            <%- include('../partials/alert.ejs') %> 

            <h2>places</h2>

        </div>

    </div>


<%- include('../partials/footer.ejs') %> 