<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/clientStyle.ejs') %> 
    <%- include('../partials/manageStyle.ejs') %> 
    <%- include('../partials/alertStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

            
        <%- include('../partials/manageClients.ejs') %>         
        
        <div class="containerClients">

            <%- include('../partials/alert.ejs') %> 


            <% if(clients.length === 0) { %> 

                <h2>sin clientes</h2>
                <a href="/client/add">
                    <i class="fa-solid fa-plus"></i>
                    <span>New Client</span>
                </a>

            <% } else { %> 
                
                <% clients.forEach(function (client) { %>
                    
                    <% const initialDate = client.initialDate %> 
                    <% const finalDate = client.finalDate %>
                    <% let restDays = Math.floor((finalDate - initialDate) / (1000 * 60 * 60 * 24)); %>
                    <% if(restDays < 0) restDays = 0 %> 

                    <div 
                        <% if(restDays < 15 && restDays > 0) { %>
                            
                            class="client mediumDays"
                            
                        <% } else if (restDays == 0) { %> 
        
                            class="client zeroDays"
                            
                        <% } else { %> 

                            class="client fullDays"

                        <% } %> 
                    >
                    
                        <a href="/client/edit/<%= client.id.toString() %> ">
                
                            <div class="header">

                                <div>
                                    <span ><%= client.name %> </span>
                                    <span ><%= client.lastName %> </span>
                                </div>
                                <button>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>

                            </div>

                            <div class="body">
                                
                                <span><b>GYM : </b> <%= client.gym %> </span>

                                <div class="date">
                                    <span><%= initialDate.toISOString().slice(0, 10) %> </span>
                                    <span> <b> / </b> <%= finalDate.toISOString().slice(0, 10) %> </span>
                                </div>

                                <div class="time">
                                    <span>TIMES : <%= client.times %> </span>
                                    <span>DAYS REST : <%= restDays %> </span>
                                </div>

                            </div>
                                
                        </a>
            
                    </div>
                    
                <% }); %> 


            <% } %> 

        </div>

    </div>


<%- include('../partials/footer.ejs') %> 