<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <form action="/client/add" method="post">

            <% let currentDate = new Date()%>   
    
            <label for="name">Name</label>
            <input type="text" name="name">

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName">
    
            <label for="phone">Phone</label>
            <input type="text" name="phone">


            <label for="gym">Gym</label>
            <select name="gym" id="gym">
                <option value="GIM H2G0">GIM H2G0</option>
                <option value="GIM H2G0 2">GIM H2G0 2</option>
            </select>

            <div class="dates">

                <div>
                    <label for="initialDate">Initial Date</label>
                    <input type="date" value=<%= currentDate.toISOString().slice(0, 10) %>  name="initialDate">
                </div>

                <div>
                    <label for="months">Months</label>
                    <input type="number" name="months" value="1">
                </div>


            </div>
    
            <button>Add Client</button>
    
        </form>

    </div>


<%- include('../partials/footer.ejs') %> 
