<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <form action="/client/add" method="post">

            <% let currentDate = new Date()%>
            
            <span class="titleForm">
                new client
            </span>
    
            <label for="name">Name</label>
            <input type="text" name="name" autocomplete="off" placeholder="Name" value=<%= name %>>

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" autocomplete="off" placeholder="Last Name" value=<%= lastName %> >
    
            <label for="phone">Phone</label>
            <input type="text" name="phone" autocomplete="off" placeholder="00000000" value=<%= phone %> >

            <% if(errorPhone[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorPhone %> 
                </label>
            <% } %> 


            <label for="gym">Gym</label>
            <select name="gym" id="gym">

                <% if (gym != '') { %> 

                    <% if(gym === "GIM H2G0") { %>
                        <option value="GIM H2G0" selected >GIM H2G0</option>
                    <% } else { %> 
                        <option value="GIM H2G0">GIM H2G0</option>
                    <% } %> 
    
                    <% if(gym === "GIM H2G0 2") { %>
                        <option value="GIM H2G0 2" selected>GIM H2G0 2</option>
                    <% } else { %> 
                        <option value="GIM H2G0 2" >GIM H2G0 2</option>
                    <% } %> 

                <% } else { %> 

                    <option value="GIM H2G0">GIM H2G0</option>
                    <option value="GIM H2G0 2" >GIM H2G0 2</option>

                <% } %> 
                
            </select>

            <div class="dates">

                <div>
                    <label for="initialDate">Initial Date</label>
                    <input type="date" 
                    value= <%= currentDate.toISOString().slice(0, 10) %>  
                    name="initialDate">
                </div>

                <div>
                    <label for="months">Months</label>
                    <input type="number" name="months" 
                        value="1" 
                    >
                </div>

            </div>

            <% if(dangerMessage[0]) %> 
                <label for="dangerMessage" class="messageTag">
                    <%= dangerMessage %> 
                </label>
    
            <button>Add Client</button>
    
        </form>
    </div>


<%- include('../partials/footer.ejs') %> 
