<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">


        <form action="/client/edit/<%= clientEdit.id%>?_method=put " method="post" class="edit" 
            style="justify-content: end;">
            <input type="hidden"  name="_method" value="put">
            
            <a href="/clients" class="back"><i class="fa-solid fa-angles-left"></i>Back</a>

            <span class="titleForm">
                <%= clientEdit.name + " " + clientEdit.lastName %>
            </span>

            <label for="name">Name</label>
            <input type="text" autocomplete="off" name="name" class="name" value="<%= clientEdit.name %>">

            <label for="lastName">Last Name</label>
            <input type="text" autocomplete="off" name="lastName" class="name" value="<%= clientEdit.lastName %>">

            <label for="phone">Phone</label>
            <input type="text" autocomplete="off" name="phone" value=<%= clientEdit.phone %> >

            <% if(errorPhone[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorPhone %> 
                </label>
            <% } %> 

            <select name="gym" id="gym">

                <% if(clientEdit.gym === "GIM H2G0") { %>
                    <option value="GIM H2G0" selected >GIM H2G0</option>
                <% } else { %> 
                    <option value="GIM H2G0">GIM H2G0</option>
                <% } %> 

                <% if(clientEdit.gym === "GIM H2G0 2") { %>
                    <option value="GIM H2G0 2" selected>GIM H2G0 2</option>
                <% } else { %> 
                    <option value="GIM H2G0 2" >GIM H2G0 2</option>
                <% } %> 

            </select>


            <div class="dates">

                <div>
                    <label for="initialDate">Initial Date</label>
                    <input type="date" name="initialDate" value=<%= clientEdit.initialDate.toISOString().slice(0, 10) %> >
                </div>
                <div>
                    <label for="finalDate">Final Date</label>
                    <input type="date" name="finalDate" value=<%= clientEdit.finalDate.toISOString().slice(0, 10) %> >
                </div>
                
            </div>

            <% if(errorDate[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorDate %> 
                </label>
            <% } %> 

            <div class="times">
                <div class="time">
                    <label for="times">Times</label>
                    <input type="number" name="times" id="timesClient" value=<%= clientEdit.times %> >
                </div>
                <div class="buttonsTimes">
                    <button type="button" onclick="increaseTimes()">
                        <i class="fa-solid fa-plus">

                        </i></button>
                    <button type="button" onclick="decreaseTimes()">
                        <i class="fa-solid fa-window-minimize"></i>
                    </button>
                </div>

            </div>

            <% if(dangerMessage[0]) %> 
                <label for="dangerMessage" class="messageTag">
                    <%= dangerMessage %> 
                </label>


            <button class="editButtom">Edit Client</button>

        </form>

        <div class="danger">

            <p>
                <span>Danger!</span> <br>
                Once you delete a client, there is no going back. Please be certain.

            </p>


            <form action="/client/delete/<%= clientEdit.id %>?_method=delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="text" name="confirm" id="toConfirm" placeholder='Type "delete" to Delete this client' autocomplete="off" 
                    oninput="checkConfirm()">
                <button id="deleteClient" disabled>
                    DELETE
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>

        </div>

    </div>

<%- include('../partials/footer.ejs') %> 
