<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <form action="/client/edit/<%= clientEdit.id%>?_method=put " method="post">
            <input type="hidden"  name="_method" value="put">

            <span class="titleForm">
                <%= clientEdit.name + " " + clientEdit.lastName %>
            </span>

            <label for="name">Name</label>
            <input type="text" autocomplete="off" name="name" class="name" value="<%= clientEdit.name %>">

            <label for="lastName">Last Name</label>
            <input type="text" autocomplete="off" name="lastName" class="name" value="<%= clientEdit.lastName %>">

            <label for="phone">Phone</label>
            <input type="text" autocomplete="off" name="phone" value=<%= clientEdit.phone %> >

            <% if(errorPhone[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorPhone %> 
                </label>
            <% } %> 

            <select name="gym" id="gym">

                <% if(clientEdit.gym === "GIM H2G0") { %>
                    <option value="GIM H2G0" selected >GIM H2G0</option>
                <% } else { %> 
                    <option value="GIM H2G0">GIM H2G0</option>
                <% } %> 

                <% if(clientEdit.gym === "GIM H2G0 2") { %>
                    <option value="GIM H2G0 2" selected>GIM H2G0 2</option>
                <% } else { %> 
                    <option value="GIM H2G0 2" >GIM H2G0 2</option>
                <% } %> 

            </select>


            <div class="dates">

                <div>
                    <label for="initialDate">Initial Date</label>
                    <input type="date" name="initialDate" value=<%= clientEdit.initialDate.toISOString().slice(0, 10) %> >
                </div>
                <div>
                    <label for="finalDate">Final Date</label>
                    <input type="date" name="finalDate" value=<%= clientEdit.finalDate.toISOString().slice(0, 10) %> >
                </div>
                
            </div>

            <% if(errorDate[0]) { %> 
                <label for="phone" class="messageTag">
                    <%= errorDate %> 
                </label>
            <% } %> 

            <div class="times">
                <label for="times">Times</label>
                <input type="number" name="times" value=<%= clientEdit.times %> >
            </div>

            <% if(dangerMessage[0]) %> 
                <label for="dangerMessage" class="messageTag">
                    <%= dangerMessage %> 
                </label>


            <button>Edit Client</button>

        </form>

    </div>

<%- include('../partials/footer.ejs') %> 
