<%- include('../partials/headerTop.ejs') %>
    
    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/clientStyle.ejs') %> 
    <%- include('../partials/manageStyle.ejs') %> 
    <%- include('../partials/alertStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <% if(clients.length === 0) { %> 

            <div class="addFirstClient">

                <h4>You don't have any clients</h4>
                <a href="/client/add">
                    Add Client
                </a>

            </div>

        <% } else { %> 
            
            
            <%- include('../partials/manageClients.ejs') %>         
            
            <div class="containerClients">
    
                <%- include('../partials/alert.ejs') %> 
    
                <% clients.forEach(function (client) { %>
                    
                    <% const initialDate = client.initialDate %> 
                    <% const finalDate = client.finalDate %>
                    <% let currentDate = new Date() %> 
                    <% let restDays = Math.floor((finalDate - currentDate) / (1000 * 60 * 60 * 24)) + 2; %>
                    <% if(restDays < 0) restDays = 0 %>
                
                    <div 
                        <% if(restDays < 15 && restDays > 0) { %>
                            
                            class="client mediumDays"
                            
                        <% } else if (restDays == 0) { %> 
                
                            class="client zeroDays"
                            
                        <% } else { %> 
                
                            class="client fullDays"
                
                        <% } %> 
                    >
                    
                        <a href="/client/edit/<%= client._id %>">
                
                            <div class="header">
                
                                <div>
                                    <span ><%= client.name %> </span>
                                    <span ><%= client.lastName %> </span>
                                </div>
                                <i class="fa-solid fa-pen-to-square"></i>
                
                            </div>
                
                            <div class="body">
                                
                                <span><b>GYM : </b> <%= client.gym_name %> </span>
                
                                <div class="date">
                                    <span><%= initialDate.toISOString().slice(0, 10) %> </span>
                                    <span> <b> / </b> <%= finalDate.toISOString().slice(0, 10) %> </span>
                                </div>
                
                                <div class="time">
                                    <span>TIMES : <%= client.times %> </span>
                                    <span>DAYS REST : <%= restDays %> </span>
                                </div>
                
                            </div>
                                
                        </a>
                
                    </div>
                    
                <% }); %> 
    
    
            </div>


        <% } %> 



    </div>


<%- include('../partials/footer.ejs') %> 
