<%- include('partials/headerTop.ejs') %>

    <%- include('partials/navbarStyle.ejs') %> 
    <%- include('partials/alertStyle.ejs') %> 

<%- include('partials/headerBottom.ejs') %> 

    <%- include('partials/navbar.ejs') %> 

    <div class="container">

        <%- include('partials/alert.ejs') %> 

        <h2>MainPAgee</h2>
    </div>

<%- include('partials/footer.ejs') %> 
