<%- include('partials/headerTop.ejs') %>

    <%- include('partials/navbarStyle.ejs') %> 

<%- include('partials/headerBottom.ejs') %> 

    <%- include('partials/navbar.ejs') %> 

    <div class="container">
        <h2>MainPAgee</h2>
    </div>

<%- include('partials/footer.ejs') %> 
