<%- include('partials/headerTop.ejs') %>

    <%- include('partials/homeStyle.ejs') %> 
    <%- include('partials/navbarStyle.ejs') %> 
    <%- include('partials/alertStyle.ejs') %> 

<%- include('partials/headerBottom.ejs') %> 

    <%- include('partials/navbar.ejs') %> 

    <div class="container">

        <%- include('partials/alert.ejs') %> 
        
        <div class="containerHome">

    
            <div class="phrase">
                <span class="main">they don't understand us</span>
                <span class="continue">we do this because it makes us feel good</span>
            </div>
    
    
            <div class="mainTitle">
                <span>GYM</span>
                <span>H2GO</span>
            </div>
    
    
            
            <div class="routesBox">
    
                <% places.forEach(function (place) { %>
    
                    <a class="routes noEnd" href="<%= place.ubicationURL %>" target="_blank">
                        <span><%= place.name %> </span>
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
        
                <% }) %> 
    
            </div>
    
    
        </div>

    </div>

<%- include('partials/footer.ejs') %> 
