<%- include('partials/headerTop.ejs') %>

    <%- include('partials/navbarStyle.ejs') %> 
    <%- include('partials/alertStyle.ejs') %> 

<%- include('partials/headerBottom.ejs') %> 

    <%- include('partials/navbar.ejs') %> 

    <div class="containerIndex">

        <%- include('partials/alert.ejs') %> 

        <div class="info">

            <span class="mainTitle">GYM H2G0</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Fugiat, vero beatae deleniti tempora, nemo aspernatur dolores nihil natus at, 
                incidunt distinctio maxime laudantium enim quia explicabo ab perferendis quas repudiandae?</p>
            <a href="/admin/login">Start<i class="fa-solid fa-angles-left"></i></a>

        </div>


        <div class="ubication">
            <a href="https://goo.gl/maps/3F6NUhYQXcyunEut6" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                GYM H2G0
            </a>

            <a href="https://goo.gl/maps/3F6NUhYQXcyunEut6" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                GYM H2G0
            </a>

            <a href="https://goo.gl/maps/3F6NUhYQXcyunEut6" target="_blank">
                <i class="fa-solid fa-location-dot"></i>
                GYM H2G0
            </a>
        </div>
    </div>

<%- include('partials/footer.ejs') %> 
