<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 


    <h2>loginAdmin</h2>

<%- include('../partials/footer.ejs') %> 
