<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <form action="/admin/logging" method="post" class="edit">

            <a href="/" class="back"><i class="fa-solid fa-angles-left"></i>Back To Home</a>

            <span class="titleForm">
                Welcome
            </span>
    
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="off">

            <% if(error[0] && error[0] === 'Not found') { %> 
                <span class="messageTag"><%= error %> </span>
            <% } %> 
    
            <div class="passwordBox">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off">
                <button type="button" onclick="showPassword()">
                    <i class="fa-solid fa-eye-slash" id="iconPassword"></i>
                </button>

            </div>


            <% if(error[0] && error[0] === 'Incorrect password') { %> 
                <span class="messageTag"><%= error %> </span>
            <% } %> 
    
            <button class="editButtom">Login</button>

            <style>
                .navbar {
                    background: #000;
                }
            </style>
    
        </form>

    </div>


<%- include('../partials/footer.ejs') %> 
