<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %> 

    <div class="container">

        <form action="/admin/login" method="get" class="edit">

            <span class="titleForm">
                Welcome
            </span>
    
            <label for="email">Email</label>
            <input type="email" name="email">
    
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
    
            <button class="editButtom">Login</button>
    
        </form>

    </div>


<%- include('../partials/footer.ejs') %> 
