<%- include('../partials/headerTop.ejs') %>

    <%- include('../partials/navbarStyle.ejs') %> 
    <%- include('../partials/formStyle.ejs') %> 

<%- include('../partials/headerBottom.ejs') %> 

    <%- include('../partials/navbar.ejs') %>
    
    <div class="container">


        <form action="/admin/password/1234?_method=put" method="post" class="edit">
            <input type="hidden" name="_method" value="put">

            <a href="/admin/admin" class="back"><i class="fa-solid fa-angles-left"></i>Return to Menu Options</a>
            
            <span class="titleForm">
                Change Password
            </span>

            <label for="oldPassword">Old Password</label>
            <input type="text" name="oldPassword" placeholder="Insert your old password" autocomplete="off">

            <% if(error[0] && error[0] === 'Incorrect password') { %> 
                <span class="messageTag"><%= error %> </span>
            <% } %> 

            <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" placeholder="Enter your new password" autocomplete="off">

            <label for="newPasswordConfirm">New Password Confirm</label>
            <input type="text" name="newPasswordConfirm" placeholder="Enter your new password again" autocomplete="off">

            <% if(dangerMessage[0]) %> 
                <label for="dangerMessage" class="messageTag">
                    <%= dangerMessage %> 
                </label>

            <button class="editButtom">Change Password</button>
        </form>

    </div>

    <style>
        .navbar {
            background: #000;
        }
    </style>


<%- include('../partials/footer.ejs') %> 